/* body for home & Update*/
th{
    padding: 50px!important;
    color:#198754!important;
    background-color: white!important;
 
}
td{
    padding: 50px!important;  
    background-color: white!important;
}
button{
    margin-right: 40px;
}

.bton{
border-radius: 6px;
height: 40px;
width: 80px;
margin-left: 550px;
border-color:#6FB1B4!important;
margin-top: 50px;
}
.bton:hover {
    background-color: #3A727F;
}

.border{
    margin: 40px;
    border-radius: 10px;
    border-bottom:none!important;
    background-color: white;
    
}