.card{
    width: 95%;
    border: none;
    border-radius: 0px 0px 5px 5px;
}
.card .btn-success{
    margin-left: -25px !important;
    }

.card .card-title{
    font-weight: bold;
} 
.card img{
    display: flex;
    flex-direction: column;
    height: 76vh !important;
    margin: 20px;
    border-radius: 10px;
}
.card  .btn{
    background-color: #198754;
    color: #fff;
    border: none !important;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-weight: 450 !important;
    margin: 50px 65px;
}
.card .card-body p{
    width: 75%;
    margin: 10px;
    color: black;
    text-align: start;
}