
.collaps{
    font-family: none !important;
}
.nav-link {
    color: rgb(7, 77, 22) !important;
    font-size: 1.5rem !important;
    font-family: auto !important;
}
.nav-link:hover{
    color: rgb(133, 93, 18) !important;
}
.navbar-brand{
    font-size: 1.8rem !important;
    font-family: auto !important;
    border: 1px solid !important;
    border-top: none !important;
    border-right: none !important;
    border-radius: 5px !important;
    box-shadow: 4px 3px 3px -1px #d8efbd !important;
    color: rgb(7, 77, 22) !important;
    margin-top: 13px;
    padding: 5px;
}
.btn-outline-danger{
    font-size: 18px;
    position: relative;
}
.search{
    position: relative;
    display: flex;
}
.form-control{
    align-items: center;
    border-radius: 0px !important;
    border-right: none;
    border-left: none;
    border-top: 1px solid;
    border-bottom:1px solid;
    border-left:none; 
    border-color:rgb(25 135 84);
    border-top:1px solid;
    border-bottom:1px solid;
}
.form-control:focus{
    border-color:rgb(25 135 84);
    box-shadow:none;
    border-color: rgb(25 135 84);
}
.form-select{
    box-shadow: none !important;
    width: 150px;
    border-right: none;
    border-radius: 0px !important;
    border-left:1px solid; 
    border-top:1px solid;
    border-bottom:1px solid;
    left: 85px;
    border-color: rgb(25 135 84);
    position: relative;
    border-color: black;
}
.form-select:focus{
    border-color:rgb(25 135 84);
}
.btn-success{
    width:75%;
    border-left:none;
    border-radius:0px !important;  
    border-color:rgb(25 135 84);
}
.btn-outline-danger{
    font-size: 18px;
    position: relative;
    right: 20px;
}